.navbar {
  display: flex;
  justify-content: center !important;
  background-color: #000000;
}

.navbar-wrapper {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar-form-wrapper {
  width: 100%;
}

.navbar-wrapper__title {
  font-size: 20px;
  margin-right: 20px;
  color: #ffffff;
}

.navbar-form {
  width: 100%;
}

.form-inline .form-control .navbar-input {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .navbar-wrapper {
    width: 74%;
    display: flex;
    flex-wrap: wrap;
  }

  .navbar-form-wrapper {
    width: 40%;
  }
}
