.movies-list__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movies-list__card {
  width: 250px;
  height: 320px;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #000000;
}

.movies-list__card:hover {
  box-shadow: 1px 1px 24px 0px rgba(255, 255, 255, 0.75);
}
